/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;        /* centra orizzontalmente */
  justify-content: center;    /* centra verticalmente */
  background: url('../assets/ghibli5.gif') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.site-header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.site-header h1 {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.693);
}

/* Main content */
main.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 2.5rem
}

/* Form */
.ticket-form {
  background: #9C757C;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #333;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ticket-form .field {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
}
.ticket-form .field label {
  margin-bottom: 5px;
  font-weight: 600;
}
.ticket-form .field input,
.ticket-form .field select {
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.logo{
    width: 200px;
}
.actions {
  flex: 1 1 100%;       
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn-primary {
  background: #384A68;     
  color: #ffffff;
}
.btn-primary:hover {
  background: #613945;
}
.btn-secondary {
  background: #ffffff
  color: #333;
}
.btn-secondary:hover {
  background: #613945;
}

/* Risultato (ticket) */
.ticket-output {
  width: 100%;
  max-width: 600px;
  background: #9C757C;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #333;
}
.ticket-output .ticket > :not(h2):not(:first-child) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(255,255,255,0.25), rgba(255,255,255,0.05));
}

.ticket-output .ticket {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.ticket-output .ticket h2 {
  font-size: 23px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.693);
  
}
.ticket-output .ticket > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 10px;  
}
.ticket-output .ticket div {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
.ticket-output .ticket strong {
  font-weight: 500;
  color: #fff;
}
.ticket-output .ticket-icon {
  width: 100px;
  height: auto;
  position: absolute;
}
